<div class>
  <h1>目標数値</h1>
  <h1>申込<%= @target.subscription_number %>件</h1>
  <h1>入塾<%= @target.continue_number %>件</h1>
  
  <table class>
    <tr>
      <th></th>
      <th>数値</th>
      <th>コメント</th>
    </tr>
    <tr>
      <th>達成率</th>
      <td><%= {(@subscription_count / @target.subscription_number) * 100}.floor(0).to_f %>%</td>
      <td></td>
    </tr>
    <tr>
      <th>申込件数</th>
      <td><%= @subscription_count %>件</td>
      <td></td>
    </tr>
    <tr>
      <th>達成まで</th>
      <td><%= @target.subscription_number - @subscription_count %></td>
      <td></td>
    </tr>
    <tr>
      <th>入塾率</th>
      <td></td>
      <td><%= {(@internal_count / @target.subscription_number)*100}.floor(0).to_f %>%</td>
    </tr>
    <tr>
      <th>入塾件数</th>
      <td><%= @internal_count %></td>
      <td></td>
    </tr>
    <tr>
      <th>達成まで</th>
      <td><%= @target.continue_number - @internal_count %></td>
      <td></td>
    </tr>
    <tr>
      <th>退塾数</th>
      <td></td>
      <td></td>
    </tr>
  </table>
  
</div>