<h2>Log in</h2>

<%= form_with model: Admin, url: admin_session_path do |f| %>
  <div class="field">
    <%= f.label :admin_id %><br />
    <%= f.text_field :admin_id, autofocus: true, autocomplete: "admin_id" %>
  </div>

  <div class="field">
    <%= f.label :password %><br />
    <%= f.password_field :password, autocomplete: "current-password" %>
  </div>



  <div class="actions">
    <%= f.submit "Log in" %>
  </div>
<% end %>

<%= render "admin/shared/links" %>

