<div class = "container mt-4">
  <div class = "row">
    <h1>生徒情報編集</h1>
  </div>
  <div class = "row">
    <%= link_to "詳細画面に戻る", admin_student_path(@student) %>
  </div>

  <%= form_with model: @student, url: admin_student_path(@student), method: :patch do |f| %>
    <%= csrf_meta_tags %>

    <div class = "row mt-2">
      <div class="col-md-12 text-right">
        <%= f.submit "更新", class:"btn btn-success" %>
      </div>
    </div>

    <div class = "row mt-2">
      <table class = "table">
        <tr>
          <th style= "background-color: #dee2e6;">生徒ID</th>
          <td><%= @student.id %></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <th style= "background-color: #dee2e6;">学年</th>
          <td><%= f.select :grade, Student.grades_i18n.invert %></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <th style= "background-color: #dee2e6;">生徒区分</th>
          <td><%= f.select :student_status, Student.student_statuses_i18n.invert %></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <th style= "background-color: #dee2e6;">生徒名</th>
          <td><%= f.text_field :last_name, required: true %><%= f.text_field :first_name, required: true %></td>
          <td><%= f.text_field :last_name_kana, required: true %><%= f.text_field :first_name_kana, required: true %></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <th style= "background-color: #dee2e6;">学校</th>
          <td><%= f.text_field :school_name, required: true %></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <th style= "background-color: #dee2e6;">メールアドレス</th>
          <td><%= f.text_field :email, required: true %></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <th style= "background-color: #dee2e6;">電話番号</th>
          <td><%= f.text_field :telephone_number, required: true %></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <th style= "background-color: #dee2e6;">郵便番号・住所</th>
          <td><%= f.text_field :post_code, required: true %></td>
          <td><%= f.text_field :address, required: true, size: 50 %></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <th style= "background-color: #dee2e6;">生徒状況</th>
          <td><%= f.select :situation_status, Student.situation_statuses_i18n.invert %></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
      </table>
    </div>
  <% end %>


  <%= form_with(model: [@student, @comment_new],url: admin_student_comments_path(@student), local: true) do |f| %>
    <div class = "row">
      <h3>コメント</h3>
    </div>
    <% @comments.each do |comment| %>
      <div class = "row">
        <div class = "col-lg-1"></div>
        ・<%= comment.comment %>
      </div>
    <% end %>
    <div class = "row">
      <div class = "col-lg-1"></div>
      <div class = "col-lg-11">
        <%= f.text_area :comment, required: true, class: 'form-control', rows: 5%>
      </div>
    </div>
    <div class = "row">
      <div class="col-md-12 text-right">
        <%= f.submit "投稿",class:"btn btn-primary" %>
      </div>
    </div>
  <% end %>


  <div class ="row mt-3">
    <h3>定期テスト</h3>
  </div>

  <div class="row mt-1">
    <% if @regular_test.present? %>
      <% @regular_test.each_with_index do |regular_test, i| %>
        <%= form_with model: regular_test, url: admin_student_test_path(@student,regular_test), method: :patch  do |f| %>
          <table class="table">
            <% if i == 0 %>
              <tr>
                <th style="background-color: #dee2e6; text-align: center;">テスト名</th>
                <th style="background-color: #dee2e6; text-align: center;">英語</th>
                <th style="background-color: #dee2e6; text-align: center;">数学</th>
                <th style="background-color: #dee2e6; text-align: center;">国語</th>
                <th style="background-color: #dee2e6; text-align: center;">理科</th>
                <th style="background-color: #dee2e6; text-align: center;">社会</th>
                <th style="background-color: #dee2e6; text-align: center;">テスト区分</th>
                <th style="background-color: #dee2e6; text-align: center;"></th>
              </tr>
            <% end %>
            <tr>
              <td><%= f.text_field :test_name %></td>
              <td><%= f.text_field :english_score, size: 10, class: 'text-center' %></td>
              <td><%= f.text_field :math_score, size: 10, class: 'text-center' %></td>
              <td><%= f.text_field :japanese_score, size: 10, class: 'text-center' %></td>
              <td><%= f.text_field :science_score, size: 10, class: 'text-center' %></td>
              <td><%= f.text_field :social_score, size: 10, class: 'text-center' %></td>
              <td><%= f.select :test_status, Test.test_statuses_i18n.invert, class: 'text-center' %></td>
              <td><%= f.submit "更新", class:"btn btn-success text-center" %></td>
            </tr>
          </table>
        <% end %>
      <% end %>
    <% else %>
      <table class = "table">
      <tr>
        <th style= "background-color: #dee2e6; text-align: center;">テスト名</th>
        <th style= "background-color: #dee2e6; text-align: center;">英語</th>
        <th style= "background-color: #dee2e6; text-align: center;">数学</th>
        <th style= "background-color: #dee2e6; text-align: center;">国語</th>
        <th style= "background-color: #dee2e6; text-align: center;">理科</th>
        <th style= "background-color: #dee2e6; text-align: center;">社会</th>
        <th style= "background-color: #dee2e6; text-align: center;">テスト区分</th>
        <th style= "background-color: #dee2e6; text-align: center;"></th>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
    </table>
    <% end %>
  </div>

  <div class ="row mt-3">
    <h3>模擬試験</h3>
  </div>

  <div class = "row mt-1">
    <% if @practice_exam.present? %>
      <% @practice_exam.each_with_index do |practice_exam, i| %>
        <%= form_with model: practice_exam, url: admin_student_test_path(@student,practice_exam), method: :patch  do |f| %>
          <table class = "table">
            <% if i == 0 %>
              <tr>
                <th style= "background-color: #dee2e6; text-align: center;">テスト名</th>
                <th style= "background-color: #dee2e6; text-align: center;">英語</th>
                <th style= "background-color: #dee2e6; text-align: center;">数学</th>
                <th style= "background-color: #dee2e6; text-align: center;">国語</th>
                <th style= "background-color: #dee2e6; text-align: center;">理科</th>
                <th style= "background-color: #dee2e6; text-align: center;">社会</th>
                <th style= "background-color: #dee2e6; text-align: center;">テスト区分</th>
                <th style= "background-color: #dee2e6; text-align: center;"></th>
              </tr>
            <% end %>
            <tr>
              <td><%= f.text_field :test_name %></td>
              <td><%= f.text_field :english_score, size: 10, class: 'text-center' %></td>
              <td><%= f.text_field :math_score, size: 10, class: 'text-center' %></td>
              <td><%= f.text_field :japanese_score, size: 10, class: 'text-center' %></td>
              <td><%= f.text_field :science_score, size: 10, class: 'text-center' %></td>
              <td><%= f.text_field :social_score, size: 10, class: 'text-center' %></td>
              <td><%= f.select :test_status, Test.test_statuses_i18n.invert, class: 'text-center' %></td>
              <td><%= f.submit "更新", class:"btn btn-success text-center" %></td>
            </tr>
          </table>
        <% end %>
      <% end %>
    <% else %>
      <table class = "table">
      <tr>
        <th style= "background-color: #dee2e6; text-align: center;">テスト名</th>
        <th style= "background-color: #dee2e6; text-align: center;">英語</th>
        <th style= "background-color: #dee2e6; text-align: center;">数学</th>
        <th style= "background-color: #dee2e6; text-align: center;">国語</th>
        <th style= "background-color: #dee2e6; text-align: center;">理科</th>
        <th style= "background-color: #dee2e6; text-align: center;">社会</th>
        <th style= "background-color: #dee2e6; text-align: center;">テスト区分</th>
        <th style= "background-color: #dee2e6; text-align: center;"></th>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
    </table>
    <% end %>
  </div>

  <div class ="row mt-3">
    <h3>内申</h3>
  </div>

  <div class = "row mt-1">
    <% if @confidential_report.present? %>
      <% @confidential_report.each_with_index do |confidential_report, i| %>
        <%= form_with model: confidential_report, url: admin_student_test_path(@student,confidential_report), method: :patch  do |f| %>
          <table class = "table">
            <% if i == 0 %>
              <tr>
                <th style= "background-color: #dee2e6; text-align: center;">テスト名</th>
                <th style= "background-color: #dee2e6; text-align: center;">英語</th>
                <th style= "background-color: #dee2e6; text-align: center;">数学</th>
                <th style= "background-color: #dee2e6; text-align: center;">国語</th>
                <th style= "background-color: #dee2e6; text-align: center;">理科</th>
                <th style= "background-color: #dee2e6; text-align: center;">社会</th>
                <th style= "background-color: #dee2e6; text-align: center;">テスト区分</th>
                <th style= "background-color: #dee2e6; text-align: center;"></th>
              </tr>
            <% end %>
            <tr>
              <td><%= f.text_field :test_name %></td>
              <td><%= f.text_field :english_score, size: 10, class: 'text-center' %></td>
              <td><%= f.text_field :math_score, size: 10, class: 'text-center' %></td>
              <td><%= f.text_field :japanese_score, size: 10, class: 'text-center' %></td>
              <td><%= f.text_field :science_score, size: 10, class: 'text-center' %></td>
              <td><%= f.text_field :social_score, size: 10, class: 'text-center' %></td>
              <td><%= f.select :test_status, Test.test_statuses_i18n.invert, class: 'text-center' %></td>
              <td><%= f.submit "更新", class:"btn btn-success text-center" %></td>
            </tr>
          </table>
        <% end %>
      <% end %>
    <% else %>
      <table class = "table">
      <tr>
        <th style= "background-color: #dee2e6; text-align: center;">テスト名</th>
        <th style= "background-color: #dee2e6; text-align: center;">英語</th>
        <th style= "background-color: #dee2e6; text-align: center;">数学</th>
        <th style= "background-color: #dee2e6; text-align: center;">国語</th>
        <th style= "background-color: #dee2e6; text-align: center;">理科</th>
        <th style= "background-color: #dee2e6; text-align: center;">社会</th>
        <th style= "background-color: #dee2e6; text-align: center;">テスト区分</th>
        <th style= "background-color: #dee2e6; text-align: center;"></th>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
    </table>
    <% end %>
  </div>


  <div class = "row">
    <h2><テスト新規登録></h2>
  </div>

  <div class = "row">
    <%= form_with model: @test_new, url: admin_student_tests_path(@student), mehod: :post do |f| %>
      <table class = "table">
        <tr>
          <th style= "background-color: #dee2e6; text-align: center;">テスト名</th>
          <th style= "background-color: #dee2e6; text-align: center;">英語</th>
          <th style= "background-color: #dee2e6; text-align: center;">数学</th>
          <th style= "background-color: #dee2e6; text-align: center;">国語</th>
          <th style= "background-color: #dee2e6; text-align: center;">理科</th>
          <th style= "background-color: #dee2e6; text-align: center;">社会</th>
          <th style= "background-color: #dee2e6; text-align: center;">テスト区分</th>
          <th style= "background-color: #dee2e6; text-align: center;"></th>
        </tr>
        <tr>
          <td><%= f.text_field :test_name %></td>
          <td><%= f.text_field :english_score, size: 10, class: 'text-center' %></td>
          <td><%= f.text_field :math_score, size: 10, class: 'text-center' %></td>
          <td><%= f.text_field :japanese_score, size: 10, class: 'text-center' %></td>
          <td><%= f.text_field :science_score, size: 10, class: 'text-center' %></td>
          <td><%= f.text_field :social_score, size: 10, class: 'text-center' %></td>
          <td><%= f.select :test_status, Test.test_statuses_i18n.invert, {include_blank: "選択して下さい"}, required: true, class: 'text-center' %></td>
          <td><%= f.submit "登録",class:"btn btn-primary text-center" %></td>
        </tr>
      </table>
    <% end %>
  </dvi>

</div>