<div class>
  <h2>生徒一覧</h2>
  
  <table class>
    <tr>
      <th>学年</th>
      <th>生徒ID</th>
      <th>生徒名</th>
      <th>生徒区分</th>
      <th>生徒状況</th>
    </tr>
    <% @internal_students each do |student| %>
      <tr>
        <td><%= student.grade %></td>
        <td><%= student.id %></td>
        <td><%= student.last_name %><%= student.first_name %></td>
        <td><%= student.student_status %></td>
        <td><%= student.situation_status %></td>
      </tr>
    <% end %>
  </table>
</div>