<div class>
  <div>
    <h2><新規申込></h2>
    <h4><%= @today_subscriptions.count %>件</h4>
    <%= link_to "申込一覧＞", admin_subscriptions_path %>
  </div>

  <div>
    <h2><達成率></h2>
    <h4><%#= ((@subscription_count.to_f / @target.subscription_number) * 100).floor(0) %>%</h4>
    <%= link_to "目標数値一覧＞", admin_target_numbers_path %>
  </div>

  <div>
    <h1>生徒管理</h1>

    <% @new_comments.each do |new_comment|  %>
      <table class>
        <tr>
          <th>生徒ID</th>
          <th>生徒名</th>
          <th>コメント</th>
        </tr>

        <tr>
          <td><%= new_comment.student.id %></td>
          <td><%= new_comment.student.last_name %><%= new_comment.student.first_name %></td>
          <td><%= new_comment.comment %></td>
        </tr>
      </table>
    <% end %>
  </div>

</div>