<div class = "container mt-4">

  <h2>お申込み一覧</h2>

  <table class = "table">
    <tr>
      <th style= "background-color: #dee2e6;">学年</th>
      <th style= "background-color: #dee2e6;">生徒ID</th>
      <th style= "background-color: #dee2e6;">生徒名</th>
      <th style= "background-color: #dee2e6;">生徒区分</th>
      <th style= "background-color: #dee2e6;">継続状況</th>
    </tr>
    <% @trial_sutdents.each do |student| %>
      <tr>
        <td><%= student.grade_i18n %></td>
        <td><%= link_to student.id, admin_student_path(student.id) %></td>
        <td><%= link_to student.full_name, admin_student_path(student.id) %></td>
        <td><%= student.student_status_i18n %></td>
        <td><%= student.situation_status %></td>
      </tr>
    <% end %>
  </table>

</div>