<header class>
  
  
  <% if admin_signed_in? %>
    <%= link_to "HOME", admin_path %>
    <%= link_to "生徒一覧", admin_students_path %>
    
    <div class>
    <%= form_with url: admin_search_path, local: true, method: :get do |f| %>
      <%= f.text_field :keyword %>
      <%= f.submit "検索" %>
    <% end %>
    </div>
    
    <%= link_to "ログアウト", destroy_admin_session_path, method: :delete %>
  <% end %>
</header>